

body{
    background-color: gainsboro;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;

}

.outer_div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

html {
  scroll-behavior: smooth;

}

ul {
    text-align: left;
}

li {
    scroll-behavior: smooth;
}

@keyframes titleanimation{
    0% {color: red;}
    20% {color: orange;}
    40% {color: yellow;}
    60% {color: green;}
    80% {color: blue;}
    100% {color: purple;}
}

#Web\ Title{
    font-size: 40px;
    font-style: italic;
    font-palette: dark;
    animation-name: titleanimation;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: linear;
}

#Top\ Div{
    width: 900px;
    margin: 30px auto;
    background-color: lightcoral;
    border-width: 5px;
    border-style: solid;
    border-radius: 30px;
    display: block;
}

.title {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-size: 30px;
}

p, a {
    font-family: "Arial", serif;
    font-size: 20px;
    scroll-behavior: smooth;
}
.text_block {
    background-color: lightblue;
    margin: 30px auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    width: 80%;
    max-width: 30%;
    justify-content: center;
}

.outer_div > .text_block {
    width: 20%;
    justify-content: center;
    flex-shrink: 1;
}

.outer_div > img {
    border-style: solid;
    border-width: 8px;
    border-radius: 60px;
    resize: none;
    width: 800px;
    flex: 0 0 70%;
    align-content: center;
    
}